@model Negocio.Models.Categoria

@{
    ViewBag.Title = "Create";
}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h2 class="panel-title">Categoria</h2>
    </div>
    <div class="panel-body">
        

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)

            <fieldset>
               

                <div class="editor-label">
                    Ingrese la nueva Categoria:
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Nombre)
                    @Html.ValidationMessageFor(model => model.Nombre)
                </div>
                <br />
                <p>
                    <input type="submit" class="btn-primary" value="Create" />
                </p>
            </fieldset>
        }

        <div>
            @Html.ActionLink("Volver", "Index")
        </div>
    </div>
</div>

        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
