@model Negocio.Models.Negocio

@{
    ViewBag.Title = "Delete";
}

<h2>Negocio</h2>

<h3>¿Esta usted seguro que desea eliminar este Negocio?</h3>
<fieldset>
    <legend>Negocio</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Direccion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Direccion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Cuit)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Cuit)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" class="btn-primary" value="Delete" /> |
        @Html.ActionLink("Volver", "Index")
    </p>
}
