@model Negocio.Models.Negocio

@{
    ViewBag.Title = "Details";
}

<h2>Detalles del Negocio</h2>

<fieldset>
    <legend>Negocio</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nombre)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nombre)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Direccion)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Direccion)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Cuit)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Cuit)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Editar", "Edit", new { id=Model.NegocioId }) |
    @Html.ActionLink("Volver", "Index")
</p>
