@model IEnumerable<Negocio.Models.Negocio>

@{
    ViewBag.Title = "Index";
}

<h2>Negocios</h2>

<p>
    @Html.ActionLink("Cargar Nuevo Negocio", "Create")
</p>
<table class="table">
    <tr class="info">
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Direccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cuit)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Direccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cuit)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.NegocioId }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.NegocioId }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.NegocioId })
        </td>
    </tr>
}

</table>
