@model IEnumerable<Negocio.Models.Item>

@{
    ViewBag.Title = "Index";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h2 class="panel-title">Items</h2>
    </div>
    <div class="panel-body">
        <p>
            @Html.ActionLink("Cargar Nuevo Item", "Create")
        </p>
        <table class="table">
            <tr class=" info">
                <th>
                    Descripción
                </th>
                <th>
                    Subcategoria
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SubCategoria.Nombre)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = item.ItemId }) |
                        @Html.ActionLink("Detalles", "Details", new { id = item.ItemId }) |
                        @Html.ActionLink("Eliminar", "Delete", new { id = item.ItemId })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>
