@model Negocio.Controllers.ProductoController.ModelProducto

@{
    ViewBag.Title = "Create";
}


<div class="panel panel-primary">
    <div class="panel-heading">
        <h2 class="panel-title">Productos</h2>
    </div>
    <div class="panel-body">
        <div class="col-md-4">

            <form action="@Url.Content("~/Producto/Create")" method="post" enctype="multipart/form-data">
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                <fieldset>
                    
                    <div style="font-weight: bold">
                        Producto:
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Nombre)
                        @Html.ValidationMessageFor(model => model.Nombre)
                    </div>
                    <br />
                    <div style="font-weight: bold">
                        Item:
                    </div>
                    <div class="editor-field">
                        @Html.DropDownList("ItemId", String.Empty)
                        @Html.ValidationMessageFor(model => model.ItemId)
                    </div>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.NegocioId, "Negocio:")
                    </div>
                    <div class="editor-field">
                        @Html.DropDownList("NegocioId", String.Empty)
                        @Html.ValidationMessageFor(model => model.NegocioId)
                    </div>
                    <br />
                    <div style="font-weight: bold">
                        Precio de Compra:
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.PrecioCompra)
                        @Html.ValidationMessageFor(model => model.PrecioCompra)
                    </div>
                    <br />
                    <div style="font-weight: bold">
                        Precio de Venta:
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.PrecioVenta)
                        @Html.ValidationMessageFor(model => model.PrecioVenta)
                    </div>
                    <br />
                    <div style="font-weight: bold">
                        Stock:
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Cantidad)
                        @Html.ValidationMessageFor(model => model.Cantidad)
                    </div>
                    <br />
                    <div style="font-weight: bold">
                        Imagen:
                    </div>
                    <br />
                    <input type="file" class="btn-success" name="File" id="File" />
                    <br />
                    <div style="font-weight: bold">
                        Fecha de Actualización:
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.FechaActualizacion)
                        @Html.ValidationMessageFor(model => model.FechaActualizacion)
                    </div>
                    <br />
                    <div style="font-weight: bold">
                        Destacado:
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Destacado)
                        @Html.ValidationMessageFor(model => model.Destacado)
                    </div>
                    <br />
                    <p>
                        <input type="submit" class="btn-primary" value="Crear" />
                    </p>
                </fieldset>
            </form>

            <div>
                @Html.ActionLink("Volver al listado", "Index")
            </div>

        </div>
    </div>
</div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
