@model Negocio.Models.Producto

@{
    ViewBag.Title = "";
}


<div class="panel panel-primary">
    <div class="panel-heading">
        <h2 class="panel-title">Datos a editar del Producto</h2>
    </div>
    <div class="panel-body">
        <div class="col-md-3">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                <fieldset>
               
                    @Html.HiddenFor(model => model.ProductoId)

                    <div style="font-weight: bold">
                        Producto:
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Nombre)
                        @Html.ValidationMessageFor(model => model.Nombre)
                    </div>
                    <br />
                    <div style="font-weight: bold">
                        Precio de Compra:
                    </div>
                    <div>
                        @*<img src="data:image;base64,@System.Convert.ToBase64String(Imag model => model.Imagen)" width="80" height="80" />*@
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.PrecioCompra)
                        @Html.ValidationMessageFor(model => model.PrecioCompra)
                    </div>
                    <br />
                    <div style="font-weight: bold">
                        Stock:
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Cantidad)
                        @Html.ValidationMessageFor(model => model.Cantidad)
                    </div>
                    <br />
                    <div style="font-weight: bold">
                        Fecha de Actualización:
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.FechaActualizacion)
                        @Html.ValidationMessageFor(model => model.FechaActualizacion)
                    </div>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.ItemId, "Item:")
                    </div>
                    <div class="editor-field">
                        @Html.DropDownList("ItemId", String.Empty)
                        @Html.ValidationMessageFor(model => model.ItemId)
                    </div>
                    <div class="editor-label">
                        @Html.LabelFor(model => model.NegocioId, "Negocio:")
                    </div>
                    <div class="editor-field">
                        @Html.DropDownList("NegocioId", String.Empty)
                        @Html.ValidationMessageFor(model => model.NegocioId)
                    </div>
                    <br />
                    <div style="font-weight: bold">
                        Precio de Venta:
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.PrecioVenta)
                        @Html.ValidationMessageFor(model => model.PrecioVenta)
                    </div>
                    <br />
                    <p>
                        <input type="submit" class="btn-primary" value="Guardar" />
                    </p>


                    <div>
                        @Html.ActionLink("Volver", "Index")
                    </div>
                </fieldset>
            }


        </div>
    </div>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
