@model IEnumerable<Negocio.Models.Producto>

@{
    ViewBag.Title = "";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h2 class="panel-title">Productos</h2>
    </div>
    <div class="panel-body">
        <p>
            @Html.ActionLink("Cargar Nuevo Producto", "Create")
        </p>
        <table class="table">
            <tr class="info">
                <th>
                    Producto
                </th>
                <th>
                    Imagen
                </th>
                <th>
                    Precio de Compra
                </th>
                <th>
                    Stock
                </th>
                <th>
                    Fecha de Actualización
                </th>
                <th>
                    Item
                </th>
                <th>
                    Negocio
                </th>
                <th>
                    Precio de Venta
                </th>
                <th>
                    Destacado
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nombre)
                    </td>
                    <td>
                        <img src="data:image;base64,@System.Convert.ToBase64String(item.Imagen)" width="80" height="80" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PrecioCompra)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cantidad)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FechaActualizacion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Item.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Negocio.Nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PrecioVenta)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Destacado)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = item.ProductoId }) |
                        @Html.ActionLink("Detalles", "Details", new { id = item.ProductoId }) |
                        @Html.ActionLink("Eliminar", "Delete", new { id = item.ProductoId })
                    </td>
                </tr>
            }

        </table>
    </div>
</div>
      