@model Negocio.Models.Oferta

@{
    ViewBag.Title = "Create";
}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h2 class="panel-title">Ofertas</h2>
    </div>
    <div class="panel-body">
        <div class="col-md-3">

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                <fieldset>


                    <div class="editor-label">
                        Título de la Oferta:
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Descripcion)
                        @Html.ValidationMessageFor(model => model.Descripcion)
                    </div>

                    <div class="editor-label">
                        Vigencia Desde:
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.FechaDesde)
                        @Html.ValidationMessageFor(model => model.FechaDesde)
                    </div>

                    <div class="editor-label">
                        Hasta:
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.FechaHasta)
                        @Html.ValidationMessageFor(model => model.FechaHasta)
                    </div>
                    
                        <div>
                            Buscar productos: @Html.TextBox("SearchString")
                            <input type="submit" class="btn-primary" value="Buscar!" />
                        </div>

                        <div class="editor-field">
                            <table class="table">
                                <tr class="info">
                                    <td>@Html.ActionLink("Productos", "Create", new { sortOrder = ViewBag.NameSortParm })</td>
                                    <td><b> @Html.ActionLink("Precio", "Create", new { sortOrder = ViewBag.PriceSortParm })</b></td>
                                    <td>Cantidad</td>
                                    <td>Operacion</td>
                                </tr>
                                @{IList<Negocio.Models.Producto> products = ViewBag.Products;}
                                @foreach (Negocio.Models.Producto item in products)
                                {
                                    <tr>
                                        <td>@item.Nombre</td>
                                        <td>@item.PrecioVenta</td>
                                        <td><input id="_@item.ProductoId" value="1" /></td>
                                        <td><input type="button" value="Agregar" onclick="javascript:agregarProducto(@item.ProductoId,'@item.Nombre',$('#_@item.ProductoId').val());" /></td>
                                    </tr>
                                }
                            </table>
                    
                        <div id="detalleOferta">
                           
                        </div>

                    </div>
                    <div class="editor-label">
                        Total:
                    </div>
                    <div class="editor-field">
                        @Html.EditorFor(model => model.Total)
                        @Html.ValidationMessageFor(model => model.Total)
                    </div>
                    
                    <script type="text/javascript">

                        function agregarProducto(productoId, descripcion, cantidad) {
                            $("#" + productoId + "D").remove();
                            $("#detalleOferta").append("<p id='" + productoId + "D'><input type='hidden'  name='DetalleOfertaId'  value='" + productoId + "'/> <input name='DetalleOfertaCantidad' value='" + cantidad + "' />  Descripcion:" + descripcion + " Cantidad:" + cantidad + " </p>");
                            //$("#detalleOferta").append
                        }
                    </script>

                    <p class="editor-field">
                        <input type="submit" class="btn-primary" value="Crear Oferta" />
                    </p>
                </fieldset>
            }

            <div class="editor-field">
                @Html.ActionLink("Volver", "Index")
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
