@model Negocio.Models.Oferta

@{
    ViewBag.Title = "Delete";
}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h2 class="panel-title">¿Esta usted seguro que desea eliminar esta Oferta?</h2>
    </div>
    <div class="panel-body">
           
        <fieldset>

            <div style="font-weight: bold">
                Descripción:
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Descripcion)
            </div>
            <br />
            <div style="font-weight: bold">
                Vigencia desde:
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.FechaDesde)
            </div>
            <br />
            <div style="font-weight: bold">
                Hasta:
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.FechaHasta)
            </div>
            <br />
            <div style="font-weight: bold">
                Total:
            </div>
            <div class="display-field">
                $ @Html.DisplayFor(model => model.Total)
            </div>
            <br />
        </fieldset>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <p>
                <input type="submit" class="btn-primary" value="Eliminar" /> 
            </p>
            <p>
                @Html.ActionLink("Volver", "Index")
            </p>
        }
    </div>
</div>