@model Negocio.Models.Oferta

@{
    ViewBag.Title = "Details";
}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h2 class="panel-title">Detalles de la Oferta</h2>
    </div>
    <div class="panel-body">
        <fieldset>
            <div style="font-weight: bold">
                Descripción:
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Descripcion)
            </div>
            <br />
            <div style="font-weight: bold">
                Vigencia desde:
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.FechaDesde)
            </div>
            <br />
            <div style="font-weight: bold">
                Hasta:
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.FechaHasta)
            </div>
            <br />
            <div style="font-weight: bold">
                @Html.DisplayNameFor(model => model.Total)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.Total)
            </div>
            <br />
        </fieldset>
        <p>
            @Html.ActionLink("Editar", "Edit", new { id = Model.OfertaId }) |
            @Html.ActionLink("Volver", "Index")
        </p>
    </div>
</div>